<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag 'slider1.jpg' %>
      <div class="carousel-caption">
        Find views like this for your family!
      </div>
    </div>
    <div class="item">
		<%= image_tag 'slider2.jpg' %>  
	  <div class="carousel-caption">
        Bring your family here to relax!
      </div>
    </div>
    <div class="item">
		<%= image_tag 'slider3.jpg' %>  
	  <div class="carousel-caption">
        This is what you call beauty!
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<% @places.each do |place| %>
	<div class = "booyah-box col-xs-10 col-xs-offset-1">
		
	<% if place.photos.present? %>
			<div class="thumbnail">
				<%= image_tag place.photos.first.picture, :class => 'img-responsive', :height => "100px", :width => '100px' %>
			</div>
			
		<% end %>
	<div>
		<h1><%= link_to place.name, place_path(place) %></h1>
		<hr/>
		
		<i><%= place.address %></i><br/><br/>
		<p><%= place.description %><br class="clr"/>
	
		<% if place.user.present? %>
			<small><%= place.user.email %></small>
		<% end %>
	</div>
		<% if place.comments.present? %>
		
		<div class="col-xs-12">
		    <blockquote>
		      <% if place.comments.last.humanized_rating.present? %>
		        <b><%= place.comments.last.rating %></b> -
		      <% end %>
		      <%= place.comments.last.message %>
		      <small><%= place.comments.last.user.email %></small>
		    </blockquote>
	  	</div>
		<% end %>
	</div>
	
<% end %>

<%= will_paginate@places %>

